{{#base body_id="speaker_page"}}
  {{#wrap}}
    <section>
        <article>
            <!-- This is where the listings go. They will be sorted in alphabetical order by city.-->
            {{#cities}}
                <!-- within each city directory, list the meetups in alphabetical order by group name-->
                <section class="city">
                    <h3>{{city}}</h3>
                    {{#speakers}}
                      <div class="speaker">
                        <h4>
                            {{name}}
                            <span class="social">
                                {{#if twitter}}<a class="ion-social-twitter" href="https://twitter.com/{{twitter}}"></a>{{/if}}
                                {{#if github}}<a class="ion-social-github" href="https://github.com/{{github}}"></a>{{/if}}
                            </span>
                            <img class="avatar" src="{{image}}" />
                        </h4>
                        <p>Preferred audience size: {{preferred_audience_size}}</p>
                        <p>Travel availability: {{travel_availability}}</p>
                        <div class="speaker-about">
                            <div>{{{about_me}}}</div>
                        </div>
                        <a class="call-to-action inverse" href="{{knode-info}}#">more info <span class="ion-arrow-right-c"></span></a>
                      </div>
                    {{/speakers}}
                </section>
            {{/cities}}
        </article>
    </section>

  {{/wrap}}
{{/base}}
